<div class="FirstView">
  <section class="container">
    <h2 class="FirstView_title">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>
    <div class="column">
      <div class="box">
        <%= form_with url: search_rooms_path, local: true, method: :get, class: "search-form" do |f| %>
          <%= f.text_field :keyword, placeholder: "エリア名を入力", class: "search-input" %>
          <%= f.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    </div>
  </section>
</div>

<section class="area">
    <h2 class="Recommend_title">
      おすすめのエリア
    </h2>

    <div class="media">  
      <div class="card">
        <div class="card-content">
          <div class="title-tokyo"><%= link_to '東京都',{:controller=>"rooms",:action=>"search",:q=>{:address_cont=>('東京都')}} %></div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="title-osaka"><%= link_to '大阪府',{:controller=>"rooms",:action=>"search",:q=>{:address_cont=>('大阪府')}} %></div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
           <div class="title-kyoto"><%= link_to '京都府',{:controller=>"rooms",:action=>"search",:q=>{:address_cont=>('京都府')}} %></div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="title-sapporo"><%= link_to '札幌市',{:controller=>"rooms",:action=>"search",:q=>{:address_cont=>('札幌市')}} %></div>
        </div>
      </div>
    </div>  

</section>