<h3>新規施設登録</h3>

 <%= form_with model: @room do |f| %>
   <table>
     <tr>
       <th><%= f.label :room_image ,"施設画像" %></th>
       <td>
        <%= f.file_field :room_image %>
       </td>
     </tr>

     <tr>
       <th><%= f.label :room_name ,"施設名" %></th>
       <td><%= f.text_field :room_name %></td>
     </tr>

     <tr>
       <th><%= f.label :introduction ,"紹介文" %></th>
       <td><%= f.text_area :introduction %></td>
     </tr>

     <tr>
       <th><%= f.label :price ,"料金" %></th>
       <td><%= f.text_field :price.to_s(:delimited) %></td>
     </tr>
     <tr>
       <th><%= f.label :address ,"住所" %></th>
       <td><%= f.text_field :address %></td>
     </tr>
   </table>

   <div>
     <ul>
       <li><%= f.submit "登録完了する"%></li>
       <li><%= link_to "キャンセル",:back, class: "button" %></li>
     </ul>
   </div>
 <% end %>