 <h3>施設詳細</h3>

<div class="container">
  <%= link_to "← 戻る",:back %>
</div>

 <table>
   <tr>
     <th>施設画像</th>
     <td>
        <% if room.room_image?%>
          <p><%= image_tag room.room_image, class: "icon", style: "width: 100px; height: 100px; object-fit:cover;" %></p>
        <% else %>
          <p><%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png',class: "icon", style: "width: 100px; height: 100px; object-fit:cover;" %></p>
        <% end %>
      </td>
   </tr>
   <tr>
     <th>施設名</th>
     <td><%= @room.room_name %></td>
   </tr>
   <tr>
     <th>紹介文</th>
     <td><%= @room.introduction %></td>
   </tr>
   <tr>
     <th>料金</th>
     <td><%= @room.price %></td>
   </tr>
   <tr>
     <th>住所</th>
     <td><%= @room.address %></td>
   </tr>
 </table>

 <h3>新規施設登録</h3>

 <%= form_with model: @reservation do |f| %>
   <table>
     <tr>
       <th><%= f.label :checkin ,"チェックイン日" %></th>
       <td><%= f.text_field :checkin %></td>
     </tr>
     <tr>
       <th><%= f.label :checkout ,"チェックアウト日" %></th>
       <td><%= f.text_field :checkout %></td>
     </tr>
     <tr>
       <th><%= f.label :number_of_people ,"人数" %></th>
       <td><%= f.text_field :number_of_people, :placeholder => "0人" %></td>
     </tr>
   </table>

  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :user_id, value: @user.id %>

 <div>
   <ul>
     <li><%= f.submit "予約完了する"%></li>
     <li><%= link_to "戻る", :back %></li>
   </ul>
 </div>